body {
    background-color: #bff5f5;
    font-family: sans-serif;
    top: 0px;
    right: 600px;
    bottom: 0px;
    left: 100px;
    
  }
  input{

    border: 1px solid #000;
   padding: 1px;
   border-radius: 10px;
 }